@page
@model RazorPagesMovie.Pages.Course.DetailsModel

@{
    ViewData["Title"] = $"{Model.CurrentCourse.Department} {Model.CurrentCourse.Number} {Model.CurrentCourse.Title}";
}

<h1>@Html.DisplayFor(model => model.CurrentCourse.Title)</h1>
    
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentCourse.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentCourse.Department)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentCourse.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentCourse.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentCourse.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentCourse.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentCourse.Capacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentCourse.Capacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentCourse.CreditHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentCourse.CreditHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentCourse.MeetingDays)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentCourse.MeetingDays)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentCourse.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentCourse.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentCourse.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentCourse.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentCourse.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentCourse.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentCourse.Instructor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentCourse.Instructor)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CurrentCourse.CourseId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
