@page
@model RazorPagesMovie.Pages.Users.ProfileModel

@{
    ViewData["Title"] = "Profile";
    string src_path = "Images/Profile_Pics/default.png";
    if (Model.currUser.ProfilePic != null)
    {
        src_path = Model.currUser.ProfilePic;
    }
}


<div class="card w-50 sm-text-center" >
    <div class="card-header"><h3>User Profile</h3></div>
    <div class="card-body">
    <div class="card-text">
    <dl class="row list-inline">
        <dt class="col-sm-2 list-inline-item">
            @Html.DisplayNameFor(model => model.currUser.ProfilePic)
        </dt>
        <dd class="col-sm-10 list-inline-item center">
            <img src="~/@src_path" alt="~/Images/Profile_Pics/default.png" class="rounded-circle float-center w-25 h-auto">
        </dd>
        <dt class="col-sm-2 list-inline-item">
            @Html.DisplayNameFor(model => model.currUser.Email)
        </dt>
        <dd class="col-sm-10 list-inline-item" id="email">
            @Html.DisplayFor(model => model.currUser.Email)
        </dd>
        <dt class="col-sm-2 list-inline-item">
            @Html.DisplayNameFor(model => model.currUser.FirstName)
        </dt>
        <dd class="col-sm-10 list-inline-item" id="fname">
            @Html.DisplayFor(model => model.currUser.FirstName)
        </dd>
        <dt class="col-sm-2 list-inline-item" >
            @Html.DisplayNameFor(model => model.currUser.LastName)
        </dt>
        <dd class="col-sm-10 list-inline-item" id="lname">
            @Html.DisplayFor(model => model.currUser.LastName)
        </dd>
        <dt class="col-sm-2 list-inline-item">
            @Html.DisplayNameFor(model => model.currUser.Birthdate)
        </dt>
        <dd class="col-sm-10 list-inline-item" id="bdate">
            @Html.DisplayFor(model => model.currUser.Birthdate)
        </dd>
        <dt class="col-sm-2 list-inline-item">
            Account Type
        </dt>
        @if (Model.currUser.IsInstructor)
        {
            <dd class="col-sm-10 list-inline-item" id="instructor">
                Instructor
            </dd>
        }
        else
        {
            <dd class="col-sm-10 list-inline-item" id="student">
                Student
            </dd>
        }
        <dt class="col-sm-2 list-inline-item">
            @Html.DisplayNameFor(model => model.currUser.StreetAddress)
        </dt>
        <dd class="col-sm-10 list-inline-item" id="street">
            @Html.DisplayFor(model => model.currUser.StreetAddress)
        </dd>
        @if(Model.currUser.ApartmentNum == null)
        {
            <dt class="col-sm-2 list-inline-item">
                @Html.DisplayNameFor(model => model.currUser.ApartmentNum)
            </dt>
            <dd class="col-sm-10 list-inline-item" id="apartmentNum">
                N/A
            </dd>
        }
        else
        {
            <dt class="col-sm-2 list-inline-item">
                @Html.DisplayNameFor(model => model.currUser.ApartmentNum)
            </dt>
            <dd class="col-sm-10 list-inline-item" id="apartmentNum">
                @Html.DisplayFor(model => model.currUser.ApartmentNum)
            </dd>
        }
        
        <dt class="col-sm-2 list-inline-item">
            @Html.DisplayNameFor(model => model.currUser.City)
        </dt>
        <dd class="col-sm-10 list-inline-item" id="city">
            @Html.DisplayFor(model => model.currUser.City)
        </dd>
        <dt class="col-sm-2 list-inline-item">
            @Html.DisplayNameFor(model => model.currUser.State)
        </dt>
        <dd class="col-sm-10 list-inline-item" id="state">
            @Html.DisplayFor(model => model.currUser.State)
        </dd>
        <dt class="col-sm-2 list-inline-item">
            @Html.DisplayNameFor(model => model.currUser.Zip)
        </dt>
        <dd class="col-sm-10 list-inline-item" id="zip">
            @Html.DisplayFor(model => model.currUser.Zip)
        </dd>
    </dl>
    </div>
    </div>
</div>
<div>
    <a asp-page="./ChangeProfilePic" id="edit_profile_pic" role="button" class="btn btn-primary">Change Profile Picture</a> |
    <a asp-page="./Edit_Profile" id="edit_profile_link" asp-route-id="@Model.currUser.Id" role="button" class="btn btn-primary"> Edit</a> |
    <a asp-page="./Index" role="button" class="btn btn-primary">Back to List</a>
</div>
