@page
@model RazorPagesMovie.Pages.Users.ProfileModel

@{
    ViewData["Title"] = "Profile";
    string src_path = "Images/Profile_Pics/default.png";
    if (Model.currUser.ProfilePic != null)
    {
        src_path = Model.currUser.ProfilePic;
    }
}

<div class="container">
    <div class="row text-center justify-content-center">
        <div class="col-4"><h3>Profile Pic</h3></div>
        <div class="col-8"><h3>User Details</h3></div>
    </div>
    <div class="row">
        <div class="row justify-content-around">
            <div class="col-4">
                <div class="container position-relative">
                    <img src="~/@src_path" alt="~/Images/Profile_Pics/default.png" class="rounded-circle d-block w-100 h-auto" style="min-width:contain; margin:auto">
                    <a asp-page="./ChangeProfilePic" id="edit_profile_pic" role="button" class="position-absolute" style="bottom:0; right:0;">
                        <i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                            </svg>
                        </i>
                    </a>
                </div>
                
            </div>
            <div class="col-8">
                <div class="card border-secondary border-2" style="min-width:fit-content; max-width:750px;">
                    <div class="card-header bg-dark text-white">
                        Personal
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-start fw-bold bg-secondary text-white">@Html.DisplayNameFor(model => model.currUser.Email)</li>
                        <li class="list-group-item text-center">@Html.DisplayFor(model => model.currUser.Email)</li>
                        <li class="list-group-item text-start fw-bold bg-secondary text-white">@Html.DisplayNameFor(model => model.currUser.FirstName)</li>
                        <li class="list-group-item text-center">@Html.DisplayFor(model => model.currUser.FirstName)</li>
                        <li class="list-group-item text-start fw-bold bg-secondary text-white">@Html.DisplayNameFor(model => model.currUser.LastName)</li>
                        <li class="list-group-item text-center">@Html.DisplayFor(model => model.currUser.LastName)</li>
                        <li class="list-group-item text-start fw-bold bg-secondary text-white">@Html.DisplayNameFor(model => model.currUser.Birthdate)</li>
                        <li class="list-group-item text-center">@Html.DisplayFor(model => model.currUser.Birthdate)</li>
                    </ul>
                    <div class="card-header bg-dark text-white">
                        Address
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-start fw-bold bg-secondary text-white">@Html.DisplayNameFor(model => model.currUser.StreetAddress)</li>
                        <li class="list-group-item text-center">@Html.DisplayFor(model => model.currUser.StreetAddress)</li>
                        @{
                            if ( !String.IsNullOrWhiteSpace(@Model.currUser.ApartmentNum))
                            {
                                <li class="list-group-item text-start fw-bold bg-secondary text-white">@Html.DisplayNameFor(model => model.currUser.ApartmentNum)</li>
                                <li class="list-group-item text-center">@Html.DisplayFor(model => model.currUser.ApartmentNum)</li>
                            }
                        }
                        <li class="list-group-item text-start fw-bold bg-secondary text-white">@Html.DisplayNameFor(model => model.currUser.City)</li>
                        <li class="list-group-item text-center">@Html.DisplayFor(model => model.currUser.City)</li>
                        <li class="list-group-item text-start fw-bold bg-secondary text-white">@Html.DisplayNameFor(model => model.currUser.State)</li>
                        <li class="list-group-item text-center">@Html.DisplayFor(model => model.currUser.State)</li>
                        <li class="list-group-item text-start fw-bold bg-secondary text-white">@Html.DisplayNameFor(model => model.currUser.Zip)</li>
                        <li class="list-group-item text-center">@Html.DisplayFor(model => model.currUser.Zip)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-4"></div>
        <div class="col-8 mx-auto"><a asp-page="./Edit_Profile" id="edit_profile_link" asp-route-id="@Model.currUser.Id" role="button" class="btn btn-primary" style="width:100px">Edit</a></div>
    </div>
    <div class="row text-center" style="margin-top:50px;">
        <div class="col-12 mx-auto"><a asp-page="./Index" role="button" class="btn btn-primary">Home</a></div>
    </div>
</div>