@page
@model RazorPagesMovie.Pages.Users.ProfileModel

@{
    ViewData["Title"] = "Profile";
    string src_path = "Images/Profile_Pics/default.png";
    if (Model.currUser.ProfilePic != null)
    {
        src_path = Model.currUser.ProfilePic;
    }
}

@* @Html.DisplayNameFor(model => model.currUser.ProfilePic)
<img src="~/@src_path" alt="~/Images/Profile_Pics/default.png" class="rounded-circle float-center w-25 h-auto">
@Html.DisplayNameFor(model => model.currUser.Email)
@Html.DisplayFor(model => model.currUser.Email)
@Html.DisplayNameFor(model => model.currUser.FirstName)
@Html.DisplayFor(model => model.currUser.FirstName)
@Html.DisplayNameFor(model => model.currUser.LastName)
@Html.DisplayFor(model => model.currUser.LastName)
@Html.DisplayNameFor(model => model.currUser.Birthdate)
@Html.DisplayFor(model => model.currUser.Birthdate)
@Html.DisplayNameFor(model => model.currUser.StreetAddress)
@Html.DisplayFor(model => model.currUser.StreetAddress)
@Html.DisplayNameFor(model => model.currUser.ApartmentNum)
@Html.DisplayFor(model => model.currUser.ApartmentNum)
@Html.DisplayNameFor(model => model.currUser.City)
@Html.DisplayFor(model => model.currUser.City)
@Html.DisplayNameFor(model => model.currUser.State)
@Html.DisplayFor(model => model.currUser.State)
@Html.DisplayNameFor(model => model.currUser.Zip)
@Html.DisplayFor(model => model.currUser.Zip)


<a asp-page="./ChangeProfilePic" id="edit_profile_pic" role="button" class="btn btn-primary">Change Profile Picture</a> |
<a asp-page="./Edit_Profile" id="edit_profile_link" asp-route-id="@Model.currUser.Id" role="button" class="btn btn-primary"> Edit</a> |
<a asp-page="./Index" role="button" class="btn btn-primary">Back to List</a> *@

<div class="container">
    <div class="row text-center">
        <div class="col-lg-0 col-1"></div>
        <div class="col-lg-3 col-5"><h3>Profile Pic</h3></div>
        <div class="col-lg-9 col-5"><h3>User Details</h3></div>
        <div class="col-lg-0 col-1"></div>
    </div>
    <div class="row">
        <div class="col-lg-0 col-1"></div>
        <div class="col-lg-3 col-5">img</div>
        <div class="col-lg-9 col-5">
            <div class="card">
                <div class="card-header">
                    Personal
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-start fw-bold">An item</li>
                    <li class="list-group-item text-center">A second item</li>
                </ul>
                <div class="card-header">
                    Address
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-start fw-bold">An item</li>
                    <li class="list-group-item text-center">A second item</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-0 col-1"></div>
    </div>
    <div class="row text-center">
        <div class="col-lg-0 col-1"></div>
        <div class="col-lg-3 col-5"></div>
        <div class="col-lg-9 col-5 mx-auto">Edit</div>
        <div class="col-lg-0 col-1"></div>
    </div>
    <div class="row text-center">
        <div class="col-12 mx-auto">Home</div>
    </div>
</div>