@page
@using Microsoft.AspNetCore.Http;
@model RazorPagesMovie.Pages.Course.Assignment.IndexModel
@inject IHttpContextAccessor HttpContextAccessor;

@{
    ViewData["Title"] = "Assignments";
}
@{
    var IsInstructor = HttpContext.Session.GetString("IsInstructor");
}

<h2>Assignments for @Model.CourseName</h2>

<!-- List Assignments -->
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Max Points</th>
            <th>Due Date</th>
            <th>Submission Type</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var assignment in Model.Assignment)
        {
            <tr>
                <td>@assignment.Title</td>
                <td>@assignment.Description</td>
                <td>@assignment.MaxPoints</td>
                <td>@assignment.DueDate.ToShortDateString()</td>
                <td>@assignment.SubmissionType</td>
                <td>
                    
                    @if (IsInstructor == "True")
                    {
                        <a asp-page="Edit" asp-route-id="@assignment.Id" asp-route-courseId="@Model.CourseId">Edit</a>
                        <span>|</span>
                        <a asp-page="Details" asp-route-id="@assignment.Id" asp-route-courseId="@Model.CourseId">Details</a>
                        <span>|</span>
                        <a asp-page="Delete" asp-route-id="@assignment.Id" asp-route-courseId="@Model.CourseId">Delete</a>
                    }
                    else
                    {
                        <a asp-page="Details" asp-route-id="@assignment.Id" asp-route-courseId="@Model.CourseId">Details</a>
                        <a asp-page="Submit" asp-route-id="@assignment.Id" asp-route-courseId="@Model.CourseId">Submit</a>
                        <a asp-page="./Submit" asp-route-AssignmentId="@assignment.Id" asp-route-CourseId="@Model.CourseId">Submit</a>

                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Link to Create a New Assignment, passing CourseId -->

@if (IsInstructor == "True")
{
    <a asp-page="./Create" asp-route-courseId="@Model.CourseId" class="btn btn-primary">Create New Assignment</a>
}
